.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
        flex-wrap: wrap;
    }
}



.submit-select {
    width: 165px;
    height: 48px;
    border: 1px solid $gold;
    text-align: center;
    line-height: 48px;
    border-radius: 24px;
    font-size: 17px;
    color: $fff;
    background-color: $gold;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        background-color: transparent;
        color: #2D3E50;
    }

    @include xs {
        width: calc(50% - 5px);
        margin: 0;
        margin-bottom: 15px;
    }
}