@font-face {
    font-family: 'reg';
    src: url('../fonts/Helvetical/HelveticaNeueW23forSKY-Reg.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/Helvetical/HelveticaNeueW23forSKY-Bd.ttf');
}