.about-sec {
    margin-bottom: 70px;

    &:last-of-type() {
        margin-bottom: 0;
    }

    @include xs {
        margin-bottom: 40px;
    }
}

.about-head {
    font-size: 30px;
    color: $gold;
    margin-bottom: 30px;

    @include xs {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
}

.about-text {
    color: #9D9D9D;
    font-size: 18px;

    @include xs {
        text-align: justify;
    }
}

.page-content {
    margin: 70px 0;

    @include xs {
        margin: 40px 0;
    }
}